<a href="https://colab.research.google.com/github/codeson101001/Machine-Learning-Projects/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
#Is used for data manipulation and data analysis
#Good for working with big data
#Excel struggles when trying to load large files so panada is useful here
import pandas as pd
import csv 
#Check version
print(pd.__version__)

1.0.5

In [29]:
#Get our data frame
#df = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")   
df = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/pandas/master/pokemon_data.csv')

# Data that is read in from this type of file
# df_xlsx = pd.read_excel('pokemon_data.xlsx')

#Tab seperate file
#delimiter='\t' using this adjusts the DF
# df = pd.read_csv('pokemon_data.txt', delimiter='\t')

#See the top 5 data entries
df.head(5)

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 12 columns]